* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

:root{
  --main-color:#5cc23a;
  --mainfont:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mywhite: #dbdbdb;
  --c1:#FFCE00;
  --c2:#0375B4;
  --c3:#007849;
  --c4:#262228;
}

body{
  font-family: var(--mainfont);
  background-color: black;
  color: var(--mywhite);
}


.sec2{
  background: url(../image/y.jpg);
  padding: 180px 30px;
  background-size: cover;
  color: black;
}

.sec2h{
  font-size: 60px;
}

.main {
  padding: 50px;
  color: var(--c4);
}


.row {
  margin: 10px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none; 
}

@media screen and (max-width:1024px) {
  .main{
    padding: 30px;
  }
  
  .column{
    width: 100%;
  }

  .row > .column {
    padding: 15px 0;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pgcontent p{
  padding: 7px 10px;
  font-size: 17px;
}

.pgimage1{
  height: 200px;
  width: 100%;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin: 10px 0 ;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*-------------------------------------------------------*/
.sec3{
  background-color: white;
  color: black;
  padding: 50px 10px;
}

.sec31{
  background-color: var(--mywhite);
  color: black;
  padding: 50px 30px;
}

.sec32{
  padding: 50px 30px 70px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 20px;
  text-align: center;
  background-color: var(--mywhite);
  color: var(--c4);
  min-height: 300px;
}

/*-------------------------------------------------------*/
.sec4{
  background-color:var(--mywhite);
  padding: 40px;
  padding-bottom: 60px;
}

.sec4h{
  margin-top: 0;
  margin-bottom: 30px;
  color: black;
}

.column1 {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row1 {margin: 0 -5px;}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 20px;
  text-align: center;
  background-color: black;
  color: white;
  min-height: 300px;
}

/*--------------------------------*/

.sec5{
    padding: 50px 30px;
    padding-bottom: 50px;
}

/*-------------------------------------------------------*/

.centerpage{
  background-color: var(--c4);
  margin: 0 15%;
  padding: 5%;
}

.pgimage{
	width: 100%;
	height: 400px;
	margin: 3% 0;
	border: 2px solid black;
}

@media screen and (max-width: 1024px) {
	.pgimage{
		height: auto;
	}
  .centerpage{
    margin: 0%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid black;
  color: black;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #c5c5c5;
  color: black;
}

tr:nth-child(even) {
  background-color: #dbdbdb;
  color: var(--c4);
}

.button {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  background-color: var(--mywhite);
  border: 2px solid var(--c4);
  width: auto;
  font-weight: bolder;
}


.resh{
  color: var(--mywhite);
  margin: -30px 0 30px 10px;
}

/*---------------------------------------------------------------*/

.alert01{
  background-color: rgb(6, 179, 6);
  color: black;
  padding: 10px;
  font-size: 20px;
  font-family: var(--mainfont);
}

h1::first-letter{
  text-transform: uppercase;
}

h4::first-letter{
  text-transform: uppercase;
}
